APScheduler==3.0.5
Flask==0.10.1
boto3==1.4.5
futures==3.0.5
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mysqlclient==1.3.7
newrelic
numpy==1.10.4
openpyxl==2.3.4
oauth2client==4.1.1
pandas==0.17.1
pymysql==0.7.2
python-dateutil==2.5.0
pytz==2015.7
raven>=3
requests==2.10.0
redis==2.10.5
six==1.10.0
scikit-learn==0.18.2
scipy==0.19.1
SQLAlchemy==1.1.9
# https://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-2.1.3.tar.gz
tzlocal==1.2.2
virtualenv==15.1.0
Werkzeug==0.11.4
xgboost==0.6a2
